<section class="menu-common">
    <div class="lbl lbl-num-select">
        <span *ngIf="selectedFiles.length > 0">{{selectedFiles.length}} item selected</span>
    </div>
    <button (click)="onUploadClick()" class="btn btn-primary">
        Upload files
    </button>
    <input #uploadInput style="display: none;" type="file" ng2FileSelect [uploader]="uploader" (change)="upload($event)" />
    <div class="lbl lbl-num-select">
        <span *ngIf="selectedFiles.length < 2">Only you have access</span>
    </div>
</section>
<section *ngIf="selectedFiles.length === 0" class="menu menu-unselect">
    <ul>
        <li>
            <i class="fa fa-share-square-o" aria-hidden="true"></i>
            <span>New share folder</span>
        </li>
        <li (click)="createNewFolder()">
            <i class="fa fa-folder-o" aria-hidden="true"></i>
            <span>New folder</span>
        </li>
        <li>
            <i class="fa fa-eye" aria-hidden="true"></i>
            <span>Show deleted files</span>
        </li>
    </ul>
</section>

<section *ngIf="selectedFiles.length > 0" class="menu menu-select">
    <ul>
        <li *ngIf="selectedFiles.length < 2">
            <i class="fa fa-link" aria-hidden="true"></i>
            <span>Share link</span>
        </li>
        <li *ngIf="selectedFiles.length < 2" (click)="download(selectedFiles[0])">
            <i class="fa fa-download" aria-hidden="true"></i>
            <span>Download</span>
        </li>

        <li *ngIf="selectedFiles.length < 2" (click)="rename(selectedFiles[0])">
            <i class="fa fa-text-width" aria-hidden="true"></i>
            <span>Rename</span>
        </li>
        <li>
            <i class="fa fa-star" aria-hidden="true"></i>
            <span>Star</span>
        </li>
        <li>
            <i class="fa fa-arrows" aria-hidden="true"></i>
            <span>Move</span>
        </li>
        <li>
            <i class="fa fa-trash" aria-hidden="true"></i>
            <span>Delete</span>
        </li>
    </ul>
</section>

<!-- <label for="">
  1 item selected
</label>
<button>
  Share
</button> -->