<div class="content">
    <div class="board">

        <table>
            <thead>
                <tr class="table-row">
                    <th>
                        <mat-checkbox class="check-box" (click)="checkAll()" [ngClass]="{'show': ischeckAll}" [(ngModel)]="ischeckAll"></mat-checkbox>
                    </th>
                    <th>Name</th>
                    <th>Modified</th>
                    <th>Members</th>
                    <th>
                        <div class="view-layout">
                            <i *ngIf="list" class="fa fa-th-list" aria-hidden="true"></i>
                            <i *ngIf="!list" class="fa fa-th-large" aria-hidden="true"></i>
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </div>
                    </th>
                </tr>
            </thead>
        </table>
        <perfect-scrollbar style="flex: 1; max-height: calc(100vh - 106px);" [config]="config">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-row" *ngIf="newFolder">
                        <td class="td-check">
                        </td>
                        <td class="td-name">
                            <div class="content">
                                <img (click)="view(file)" [src]="'assets/filetypes/folder.png'" alt="">
                                <div class="name-input">
                                    <input #inputFolder type="text" [(ngModel)]="newFolder.name" (blur)="onBlur(newFolder)" (keyup.enter)="onEnter($event)">
                                </div>
                            </div>
                        </td>
                        <td>
                            --
                        </td>
                        <td class="td-members">
                        </td>
                        <td class="td-actions">
                        </td>
                    </tr>
                    <tr class="table-row" *ngFor="let file of files; trackBy:file?.id">
                        <td class="td-check">
                            <mat-checkbox class="check-box" [ngClass]="{'show': file.checked}" [(ngModel)]="file.checked" (change)="onChangeRow(file)"></mat-checkbox>
                        </td>
                        <td class="td-name">
                            <div class="content">
                                <img (click)="view(file)" [src]="'assets/filetypes/' + file.type + '.png'" alt="">
                                <div *ngIf="!file.isEdit" class="name">
                                    <span>{{file.name}}</span>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </div>
                                <div *ngIf="file.isEdit" class="name-input">
                                    <input #inputEdit autofocus type="text" [(ngModel)]="editFile.name" (blur)="onRename(editFile)" (keyup.enter)="onEnter($event)">
                                </div>
                            </div>
                        </td>
                        <td>
                            {{file.modified ? (file.modified | date:'short') : '--'}}
                        </td>
                        <td class="td-members">
                            {{file.members | member}}
                        </td>
                        <td class="td-actions">
                            <button class="btn btn-default">
                                Share
                            </button>
                            <button class="btn btn-default" [matMenuTriggerFor]="menu">
                                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                            </button>
                            <mat-menu class="menu-action" [overlapTrigger]="false" xPosition="before" yPosition="above" #menu="matMenu">
                                <button mat-menu-item (click)="download(file)">
                                    <span>Download</span>
                                </button>
                                <button mat-menu-item (click)="rename(file)">
                                    <span>Rename</span>
                                </button>
                                <button mat-menu-item (click)="delete(file)">
                                    <span>Delete</span>
                                </button>
                            </mat-menu>
                        </td>
                    </tr>
                    <tr *ngIf="files.length === 0 && !newFolder">
                        <td colspan="5">
                            <div style="margin-top: 8px; text-align: center; width: 100%;">
                                <h4 style="margin: 12px 0;">This is folder is empty</h4>
                                Drag and drop files onto this window to upload.
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </perfect-scrollbar>
        <div class="progress" *ngIf="fileUploading">
            <h5>Uploading </h5>
            <mat-progress-bar mode="determinate" value="fileUploading.process"></mat-progress-bar>
        </div>
    </div>

    <div class="right-menu">
        <app-right-menu-bar [selectedFiles]="selectedFiles" [(fileUploading)]="fileUploading" (onNewFolder)="createNewFolder($event)"
            (onDownload)="download($event)" (onRename)="rename($event)"></app-right-menu-bar>
    </div>
</div>