<div class="cover">

</div>
<div class="container">
  <div class="form" *ngIf="!isLogin">
    <h2>Sign up</h2>
    or
    <a (click)="isLogin = !isLogin;">sign in to your account</a>
    <form action="">
      <input type="text" placeholder="First name">
      <input type="text" placeholder="Last name">
      <input type="email" placeholder="Email">
      <input type="password" placeholder="Password">
      <div class="checkbox inline">
        <input type="checkbox">
        <label for="">I agree to the Terms</label>
      </div>
      <button class="btn-signup">
        Sign up
      </button>
      <button class="btn-google">
        Sign up with Google
      </button>
    </form>
  </div>
  <div class="form" *ngIf="isLogin">
    <h2>Sign in</h2>
    or
    <a (click)="isLogin = !isLogin;">create an account</a>
    <form action="">
      <input type="email" placeholder="Email">
      <input type="password" placeholder="Password">
      <div class="checkbox inline">
        <input type="checkbox">
        <label for="">Remember me</label>
      </div>
      <button class="btn-signup" (click)="goLogin()">
        Sign in
      </button>
      <button class="btn-google">
        Sign in with Google
      </button>
    </form>
  </div>
</div>