:host {
  display: flex;
  height: 100vh;
}

.cover {
  background: #61082b;
  flex: 6;
}

.container {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form {
  width: 70%;
  a {
    color: rgb(68, 68, 255);
    cursor: pointer;
  }
}

.form form {
  display: flex;
  flex-direction: column;
  font-size: smaller;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  padding: 12px;
  margin: 6px 0;
  font-size: small;
}

button {
  padding: 12px;
  margin: 6px 0;
  font-size: small;
  border: 0;
  color: white;
  cursor: pointer;
}

.btn-signup {
  background: #0061ff;
}

.checkbox {
  margin-top: 10px;
  margin-bottom: 20px;
}
