<div>
  <div class="logo">
    <img src="assets/logo-black.png" alt="">
    <h3>JTC Sharing</h3>
  </div>
  <div class="activated-menu">
  </div>

  <div class="menu">
    <ul>
      <li *ngFor="let menu of menus"
       [ngClass]="{'active': menu.active}" (click)="selectMenu(menu)">{{menu.name}}</li>
    </ul>
  </div>
</div>